<!DOCTYPE html>
<html>
<head>
    <title>Register User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#f4f6f9;">

<div class="container">
    <div class="row justify-content-center" style="margin-top:100px;">
        <div class="col-md-4">
            <div class="card shadow-lg p-4">
                <h3 class="text-center">Register User</h3>
                <form method="POST">
                    <div class="mb-3">
                        <label>User ID</label>
                        <input type="number" name="user_id" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Register & Capture Face</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>